<h1>Your <%= @vehicle.name %> vehicle has been created</h1>

<p>
the price of the vehicle was <%= number_to_currency(@vehicle.price) %>
</p>

<p>
  <%= @greeting %>, find me in app/views/user_mailer/new_vehicle_confirmation.html.erb
</p>
